body{
    background-color: rgb(177, 203, 252);
}
img{
    width: 190px;
    border-radius: 20px;
    margin-left: 50px;

    
}
.container{
 padding-top: 140px;  
}
.child{ 
    border-radius: 20px;
background-color: azure;
padding: 10px;
width: 280px;
display:block ;
justify-content: center;
margin: auto;

 
}
.text{
    text-align: center;
    font-size: medium;
    color: gray;
}
strong{
    font-size: x-large;
    color: rgb(6, 6, 36);

}
